<!DOCTYPE html>
<html>

<head>
    <title>U did it!!</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    </head>
    <body>
        <img src="headerc.png"/>
        U guys got a {{{score}}}% match!!!
        <button id="next_button" type="submit" class="">Start chatting</button>
                
    </body>
    <script>
        $('#next_button').click(function () {
            window.location.href = '/chatroom';
        })
    </script>
    </html>