<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link href="stylemain.css" rel="stylesheet" />
</head>
<body>
    <form method="post" action='/'>
    <div id="main" >
    </form>
    <input type="text" name = "user[name]" id="text">
    </div>
    <div id="button">

    </div>
    
</body>

</html>