<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link href="stylemain.css" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
    <form method="post" action='/'>
    <div id="main" >
    </form>
    <input type="text" name = "user[name]" id="text">
    </div>
    <div id="button">

    </div>
    
</body>
<script>
        $('#button').click(function () {
            window.location.href = '/loading';
        });

        $('#text').on('keypress', (event)=> {
            if(event.which === 13) {
                window.location.href = '/loading';
            }
        });
        </script>

</html>