<!DOCTYPE html>
<html>

<head>
    <title>Questions!</title>
    <link href="questionstyle.css" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div>

        <div id="chatroom">
            <div id="score">
                Score:
            </div>
            <img style="display:inline; position: inherit; top:120px; width:50px; height:50px;" src="guy.png" />

            <img style="display:inline; position: inherit;left:80px; width:100px; height:100px;" src="typing.gif" />

            <div id="ques"></div>
            <div id="inputbox">
                <div class="row">
                    <div id="messages"> </div>
                </div>
                <div>
                    <form action="">
                        <div>
                            <input type="text" id="m" type="text" placeholder="Message..." aria-label="Message...">

                        </div>
                        <div id="answers">

                        </div>
                    </form>
                    <div id="bullets">
                        <div class="bu" id="b1">
                            ⬤
                        </div>
                        <div class="bu" id="b2">
                            ⬤
                        </div>
                        <div class="bu" id="b3">
                            ⬤
                        </div>
                        <div class="bu" id="b4">
                            ⬤
                        </div>
                        <div class="bu" id="b5">
                            ⬤
                        </div>
                        <div class="bu" id="b6">
                            ⬤
                        </div>
                        <div class="bu" id="b7">
                            ⬤
                        </div>
                        <div class="bu" id="b8">
                            ⬤
                        </div>
                        <div class="bu" id="b9">
                            ⬤
                        </div>
                        <div class="bu" id="b10">
                            ⬤
                        </div>
                    </div>
                    <button id="next_button" style="display:none" type="submit" class="">You Win</button>
                </div>
            </div>



        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script>
        $('#next_button').click(function () {
            window.location.href = '/congrats';
        })
        const room = 'questions';
        const socket = io('/chat');
        // array of questions
        var qs = {{{ questions }}};
        console.log(qs);
        // qcount is to iterate over the qs array and to terminate
        // question asking when the list is exhausted
        var qcount = 0;
        // name of user
        var name = 'x';
        // an is used to disable the message box when the user answers
        var an = 0;

        socket.on('connect', () => {
            // emitting to everybody
            socket.emit('join', { room: room });
        })

        $(document).ready(function () {
            $('#ques').html(qs[qcount]);
            // click the start button to display the chatroom
            /*$("#start").click((event) => {
                console.log('start')
                $('#start').hide();
                $('#chatroom').show();
                $('#messages').append($('<div>').text(qs[0]));
            })*/
            // after pressing enter or the send button
            $('form').submit(() => {
                // grab the message value then clear the input box
                let msg = $('#m').val();
                $('#m').val('');
                // can't type another answer
                $('#m').attr("disabled", "disabled");
                // send to server
                socket.emit('message', { msg, room, name, an });
                return false;
            });
        })

        // if server sends an answer then it will be displayed
        // here
        socket.on('answer', function (data) {

            console.log(data)
            var id_name = '#b' + (qcount + 1)
            console.log(id_name)
            if (data == 'true') {
                an += 10
                $('#score').html('Score: ' + an);
                $(id_name).html('<img src="O.png">');
            } else {
                $(id_name).html('<img src="X.png">');
            }


        });

        // once both people have answered, server sends a broadcast
        // and opens the input box again
        // also puts a new question to answer
        socket.on('broadcast', function (data) {
            console.log('broadcast is: ' + data)
            $('#m').prop('disabled', false);
            // get the next question in the array
            qcount += 1;
            // display question
            if (qcount < qs.length) {
                console.log('appending')
                $('#ques').html(qs[qcount]);
            } if (an >= 50) {
                $('#next_button').show()
            }
        });

        // sends message to server to check if answers are the same
        socket.on('message', (msg, name, an) => {
            an = an
            if (name) {
                //$('#messages').append($('<div>').text(name + ": " + msg));
            } else {
                // $('#messages').append($('<div>').text(msg));
            }
        })

    </script>
</body>

</html>