#container {
  width: 900px;
  height: 800px;
  background-image: url('images/chatbg.png');
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;

}
#header {
  background-size:cover;
  background-image: url('images/header.png');
  width:100%;
  height:20%;
}
#chatbox {
  width:600px;
  height:400px;
  background-color:'#f7f4e8';
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
}

#box {
  border: 5px solid #EB008C;
  background-color:#f7f4e8;
  float:left;
  width:60%;
  height:100%;
}

#messagebox {
  background-color:white;
  font-family: "basicLAZER";
  height: 317px;
  padding: 5px;
}

#results {
  border: 5px solid #EB008C;
  background-color:#f7f4e8;
  float:right;
  width:36.65%;
  height:100%;
}

#enter {
  position:right;
}

#res {
  height:82%;
}

#m {
  font-family: "basicLAZER";
}

@font-face {
  font-family: "basicLAZER";
  src: url('css/fonts/basicLAZER.otf');
}