
#main{
  background-image:url('main.png') ;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  bottom:0;
  top: 0;
  margin:auto;
  position: absolute;
  width: 500px;
  height: 500px;
}
#text{
  top: 41%;
  right:20%;
  bottom: 0%;
  position: absolute;
  width: 200px;
  height: 6%;
  text-size-adjust: 40px;
  font-size-adjust: 80px;
  
}
#button{
  background-image:url('button.png') ;
  background-repeat: no-repeat;
  background-size: cover;
  top: 45%;
  right:33%;
  bottom: 0%;
  position: absolute;
  width: 90px;
  height: 5%;
  text-size-adjust: 40px;
  font-size-adjust: 80px;
}
#button:hover{
  background-color:white}
input[type=text]{
    font-size: 34px;
 
}